.create-editor-box {
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  padding: 10px;
  transition: border 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  &:hover {
    border-color: #0A8FDC;
    border-right-width: 1px !important;
    outline: 0;
  }
  .rdw-colorpicker-modal {
    right: 0 !important;
    left: -150px !important;
  }
}