.create-modal-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  .create-modal-footer-item {
    width: 100%;
    align-self: flex-end;
  }
}
.create-add-btn {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.create-modal-box {
  position: relative;
  .ant-modal-body {
    padding: 0;
  }
}
.create-action-btn {
  width: 100%;
  align-self: flex-end;
}

